{{/* -*- mode: markdown -*- */}}

---
layout: ""
page_title: "Provider: Talos"
description: |-
  The Talos provider enables lifecycle management and declarative configuration of the Talos kubernetes OS.
---

# Talos Provider
The Talos provider enables lifecycle management and declarative configuration of the Talos kubernetes OS.

This provider is currently in **early alpha**, resource schema and underlying code will change. This will break any installations.
The provider will be considered ready for beta use when the version number reaches 0.1.0.
